.aside{
    margin: 0px 8px;
    padding: 20px 0px 50px 0px;
    width: 23vw;
    background-color: var(--asidebg);
    border-radius: 10px;
    justify-content: space-between;
    overflow-y: scroll;
}
.playlist{
    gap: 10px;
    padding: 0px 10px;
}
.library{
    padding: 0px 10px;
    justify-content: space-between;
}
.librarytext{
    font-weight: bold;
}
.yourlibrary{
    gap: 10px;
}
.plusbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height: 40px;
    border-radius: 50%;
}
.selection{
    font-size: 13px;
    justify-content: center;
    gap: 15px;
    padding: 10px 13px;
    background-color: var(--bglayer);
    border-radius: 30px;
}
.createplaylist{
    align-content: space-between;
    gap: 15px;
    padding: 20px 20px;
    background-color: var(--bglayer);
    border-radius: 10px;
}
.playlistbtn{
    background-color: white;
    color: black;
    border: none;
    width: 10em;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}
.contact{
    width: 20vw;
    gap: 30px;
    padding: 0px 20px;
}
.contacttext{
    font-family: var(--font);
    color: gray;
    font-weight: lighter;
    font-size: 12px;
    cursor: pointer;
}
.language{
    background-color: var(--languagebtn);
    border: 1px solid gray;
    width: 8em;
    padding: 8px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}
.contactgrid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding-right: 20px;
}