.position{
    top:3.9em;
    position: fixed;
    height: 81vh;
}
.main{
    width: 65.2em;
    padding: 50px 20px;
    background-color: var(--asidebg);
    gap: 30px;
    border-radius: 10px;
    overflow-y: scroll;
}
.artists{
    justify-content: space-between;
    align-items: flex-end;
}
.artists_heading{
    font-size: 25px;
}
.object-fit{
    width: 150px;
    height: 150px;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.3);
    border-radius: 50%;
    overflow: hidden;
}
.artistbutton{
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}
.artistpicturesgrid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-top: 10px;
}
.artistpicture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.object-fit2{
    align-self: center;
    width: 150px;
    height: 150px;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    position: static;
}
.playlistfont2{
    width: 150px;
}
.playbutton{
    width: 50px;
    height: 50px;
    background-color: rgb(4, 210, 4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectplaybtn{
    box-shadow: 0px 8px 8px rgba(0,0,0,0.3);
    visibility: hidden;
    opacity:0;
    bottom: 75px;
    right: 15px;
    z-index: 1;
    transition: bottom ease-in-out 0.2s, opacity 0.18s ease-out,visibility 0.6s ease-out;
}.selectplaybtn1{
    bottom: 60px;
    right: 20px;
}
.selectplaybtn3{
    bottom: 45px;
    right: 15px;
}
