:root{
    --bodrad:10px;
    --font:"Proxima Nova",sans-serif;
    --bglayer:#1f1f1f;
    --bg:black;
    --asidebg:#121212;
    --languagebtn:rgba(4, 3, 3, 0.149);
    --searchbarborder:rgb(116, 116, 116);
    --liactivebg:#181818;
}
html{
    background-color: var(--bg);
}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow: scroll;
}
