.invert{
    filter: invert(1);
}
.flex-box{
    display: flex;
}
.aligncenter{
    align-items: center;
}
.font{
    font-family:var(--font);
    font-size: 16px;
}
.invertgray{
    filter:invert(0.7)
}
.whitefontbold{
    color: white;
    font-family: var(--font);
    font-weight: bold;
}
.whitefontlighter{
    color: white;
    font-family: var(--font);
    font-weight: lighter;
}
.whitefontnormal{
    color: white;
    font-family: var(--font);
}
.grayfontbold{
    color: gray;
    font-family: var(--font);
    font-weight: bold;
}
.grayfontlighter{
    color: gray;
    font-family: var(--font);
    font-weight: lighter;
}
.grayfontnormal{
    color: gray;
    font-family: var(--font);
}
.columnflex{
    display: flex;
    flex-direction: column;
}
.svgdec{
    height: 25px;
    width: 40px;
}
.svgdec2{
    height: 20px;
    width: 40px;
}
.svgdeclang{
    height: 20px;
    width: 20px;
}
.cursorpointer{
    cursor: pointer;
}
.posfix{
    position: fixed;
}
.posabs{
    position: absolute;
}
.svgdeccontrols{
    height: 16px;
    width: 16px;
}
.svgdecplaybtn{
    height: 30px;
    width: 30px;
}
.posrelative{
    position: relative;
}
.svgdecvolbtn{
    height: 14px;
    width: 14px;
}
.font14{
    font-size: 14px;
}
.font12{
    font-size: 12px;
}